@import 'app/styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 600px;

  @media (max-width: 700px) {
    width: 100%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  border: solid 1px $dark;
  width: 100%;
  color: $dark;
  background-color: $light;
  transition: all 0.2s ease-in-out;
  margin: 10px 0;
}

.card-hover {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  border: solid 1px #ddd;
  border-radius: 5px;
  width: 100%;
  color: #333;
  background-color: #eee;
  transition: all 0.2s ease-in-out;
  margin: 10px 0;

  &:hover {
    color: #eee;
    background-color: #333;
  }
}

.card-row {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toast {
  background-color: inherit;
  color: inherit;
  padding: 10px 15px;
  width: 100%;
}

.toast-info {
  background-color: $info;
  color: $light;
  padding: 15px;
  width: 100%;
}

.toast-error {
  background-color: $error;
  color: $light;
  padding: 15px;
  width: 100%;
}

.toast-success {
  background-color: $success;
  color: $light;
  padding: 15px;
  width: 100%;
}
