.form {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  border: solid 1px #ddd;
  border-radius: 5px;
  padding: 20px;
  width: 600px;

  @media (max-width: 700px) {
    width: 100%;
  }
}

.input {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: solid 1px #eee;
  font-size: 1em;
}

.textarea {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: solid 1px #eee;
  font-size: 1.2em;
  resize: none;
  line-height: 1.4em;
  height: 150px;
  background: rgba(255, 255, 255, 0.5);

  &:hover {
    box-shadow: 0 1px #ccc;
  }
}

.button {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  margin: 20px 0 10px;
  border: solid 1px #eee;
  cursor: pointer;
  background: #ddd;
  transition: all 0.2s ease-in-out;
  color: #333;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  font-size: 1em;

  &:hover {
    background: #333;
    color: #ccc;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
  }

  &:disabled {
    background: #eee;
    cursor: not-allowed;
    color: #ccc;
    &:hover {
      background: #eee;
      color: #ccc;
      box-shadow: none;
    }
  }
}

.button-small {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  padding: 15px;
  border-radius: 5px;
  margin: 20px 0 10px;
  border: solid 1px #eee;
  cursor: pointer;
  background: #ddd;
  transition: all 0.2s ease-in-out;
  color: #333;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  font-size: 1em;

  &:hover {
    background: #333;
    color: #ccc;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
  }

  &:disabled {
    background: #eee;
    cursor: not-allowed;
    color: #ccc;
    &:hover {
      background: #eee;
      color: #ccc;
      box-shadow: none;
    }
  }
}

.button-fab {
  box-sizing: border-box;
  display: flex;
  width: 60px;
  height: 60px;
  padding: 15px;
  // border-radius: 50%;
  // margin: 20px 0 10px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #ccc;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  background: transparent;

  &:hover {
    color: #333;
    // box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
  }

  &:disabled {
    // background: #eee;
    cursor: not-allowed;
    color: #eee;
    &:hover {
      // background: #eee;
      color: #eee;
      // box-shadow: none;
    }
  }
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 10px 0;
  span {
    padding: 5px 15px;
    color: #333;
  }
}
