*,
html,
body,
div,
input,
button,
a,
ul,
ol,
li,
textarea,
span,
main,
section,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.link-full {
  text-decoration: none;
  width: 100%;
}
