.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;

  & .row-item {
    // margin: 10px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &.margin-right {
      margin-right: 10px;
    }
  }

  &.jst-left {
    justify-content: flex-start;
  }
}
