.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-items: stretch;

  & .row-item {
    margin: 10px 5px;
  }

  &.jst-left {
    justify-content: flex-start;
  }
}
