.h1 {
  font-size: 1.4em;
  color: #333;
  padding: 10px;
}

.h2 {
  font-size: 1.2em;
  color: #333;
  padding: 10px;
}

.h3 {
  font-size: 1em;
  color: #333;
  padding: 10px;
}

.p {
  font-size: 0.8em;
  font-weight: normal;
  padding: 10px;
}
