@import 'app/styles/variables.scss';

.h1 {
  font-size: $title-size;
  color: #333;
  padding: 10px;
}

.h2 {
  font-size: 1.2em;
  color: #333;
  padding: 10px;
}

.h3 {
  font-size: 1em;
  color: #333;
  padding: 10px;
}

.p {
  font-size: 0.8em;
  font-weight: normal;
  padding: 10px;
}

.subtitle {
  font-size: $font-size;
  color: $light;
  font-weight: 500;
}
