.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  padding: 30px;
  background-color: #282c34;
  color: #61dafb;
}
