.main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 960px;
  box-sizing: border-box;

  @media (max-width: 1000px) {
    width: 100%;
  }
}
