@import 'app/styles/variables.scss';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;

  .actionBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    button {
      background: $light;
      border: none;
      color: $dark;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      opacity: 0;
      transition: all 0.2s;

      &:hover {
        opacity: 0.8;
      }

      &.right {
        right: 0;
        top: 0;
        bottom: 0;
        width: 40px;
      }

      &.left {
        left: 0;
        top: 0;
        bottom: 0;
        width: 40px;
      }
    }
  }

  .image {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    border: solid 1px orange;

    img {
      width: 100%;
    }
  }
}
