.form {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  border: solid 1px gray;
  border-radius: 10px;
  padding: 20px;
  max-width: 700px;
  margin: 40px auto;
  .label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 10px 0;
    .input {
      box-sizing: border-box;
      display: flex;
      width: 100%;
      padding: 15px;
      border-radius: 10px;
      border: solid 1px gray;
    }
  }
  .button {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    margin: 20px 0 10px;
    border: solid 1px gray;
    cursor: pointer;
    background: lightgray;
    transition: all 0.2s ease-in-out;
    color: black;
    font-weight: bolder;
    justify-content: center;
    align-items: center;

    &:hover {
      background: black;
      color: white;
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
    }
  }
}
